##
## gitignore(5) -- specify ignored files
##

# Ignore swap files and cabal output.
*.hi
*.o
*.swo
*.swp
*~
.DS_Store
dist

# Ignore test builds.
tests/Tests

# Rest of the file: ignore examples
examples/*/_cache
examples/*/_site
examples/*/hakyll
examples/hakyll/reference

