<h1>Tutorials about Hakyll</h1>
<h2 id="series">Tutorial series</h2>
<ul>
    $for(tutorials)$
        $if(isSeries)$
            <li>
                <a href="$url$">$title$</a>
            </li>
        $endif$
    $endfor$
</ul>
<h2 id="articles">Other articles</h2>
<p>In no particular order:</p>
<ul>
    $for(tutorials)$
        $if(isArticle)$
            <li>
                <a href="$url$">$title$</a> by <em>$author$</em>
            </li>
        $endif$
    $endfor$
</ul>
<h2 id="external-articles">External articles</h2>
<p>
    These are articles on external blogs. If you wrote a similar article, feel
    free to <a href="http://jaspervdj.be/contact.html">shoot me an email</a> so
    I can add it to the list.
</p>
<p>In no particular order:</p>
<ul>
    $for(tutorials)$
        $if(isExternal)$
            <li>
                <a href="$url$">$title$</a> by <em>$author$</em>
            </li>
        $endif$
    $endfor$
</ul>
<p>
    All these tutorials assume you are using the latest stable version of
    Hakyll. If this is not the case, you might want to update using:
</p>
<pre><code>$$ ghc-pkg unregister hakyll
$$ cabal update
$$ cabal install hakyll</code></pre>

<p>
    Or using stack:
</p>
<pre><code>$$ stack install hakyll</code></pre>
