<h1>Tutorials about Hakyll</h1>
<h2 id="series">Tutorial series</h2>
<ul>
    $for(main)$
        <li>
            <a href="$url$">$title$</a>
        </li>
    $endfor$
</ul>
<h2 id="articles">Other articles</h2>
<p>In no particular order:</p>
<ul>
    $for(articles)$
        <li>
            <a href="$url$">$title$</a> by <em>$author$</em>
        </li>
    $endfor$
</ul>
<h2 id="external-articles">External articles</h2>
<p>
    These are articles on external blogs. If you wrote a similar article, feel
    free to <a href="http://jaspervdj.be/contact.html">shoot me an email</a> so
    I can add it to the list.
</p>
<p>In no particular order:</p>
<ul>
    $for(externals)$
        <li>
            <a href="$url$">$title$</a> by <em>$author$</em>
        </li>
    $endfor$
</ul>
<h2 id="robertwpearce">Robert Pearce's series</h2>
<p>
    <a href="https://robertwpearce.com/">Robert Pearce</a> has been writing an
    excellent tutorial-style series on Hakyll as well.  You can find those here:
</p>
<ul>
    $for(robertwpearce)$
        <li>
            <a href="$url$">$title$</a>
        </li>
    $endfor$
</ul>
<p>
    All these tutorials assume you are using the latest stable version of
    Hakyll. If this is not the case, you might want to update using:
</p>
<pre><code>$$ ghc-pkg unregister hakyll
$$ cabal update
$$ cabal install hakyll</code></pre>

<p>
    Or using stack:
</p>
<pre><code>$$ stack install hakyll</code></pre>
<h2 id="riccardoodone">Riccardo Odone's series</h2>
<p>
    <a href="https://odone.io/">Riccardo</a> rambles about Hakyll on his blog:
</p>
<ul>
    $for(riccardoodone)$
        <li>
            <a href="$url$">$title$</a>
        </li>
    $endfor$
</ul>
