<h1>Tutorial: $title$</h1>

$body$

<h1>Other tutorials</h1>

The other tutorials can be found <a href="/tutorials.html">here</a>.

<h1>Documentation inaccurate or out-of-date? Found a typo?</h1>

Hakyll is an open source project, and one of the hardest parts is writing
correct, up-to-date, and understandable documentation. Therefore, the
authors would really appreciate it if you would
<a href="http://groups.google.com/group/hakyll">give feedback</a> about
the tutorials, and especially report errors or difficulties you encountered. If
you have a github account, you can use the
<a href="https://github.com/jaspervdj/hakyll/issues">issue system</a>. Thanks!

If you run into any problems, all questions are welcome in the above google
group, or you could try the IRC channel, <code>#hakyll</code> on
<a href="https://libera.chat/">irs.libera.chat</a> (we <em>do not</em> have
a channel on Freenode anymore).
