html {
    background-color: white;
    color: black;
    font-family: sans-serif;
    line-height: 140%;
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px 0px 60px 0px;
    margin: 0px;
}

div#header {
    height: 32px;
    margin: 20px 0px 20px 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

div#header img {
    display: inline;
    margin: 0px 0px 0px 0px;
}

div#main {
    margin: 0px auto 0px auto;
    width: 860px;
}

div#sidebar {
    margin-right: 30px;
    width: 160px;
    float: left;
}

div#sidebar h1 {
    clear: both;
    float: right;
}

div#sidebar a {
    clear: both;
    display: block;
    float: right;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

div#sidebar img {
    margin: 0px;
}

div#content {
    width: 670px;
    float: right;
}

div#footer {
    padding-top: 30px;
    clear: both;
    font-size: 90%;
    text-align: center;
}

p {
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

a {
    color: black;
}

h1 {
    font-size: 20px;
    margin: 24px 0px 16px 0px;
}

h2 {
    font-size: 18px;
    margin: 24px 0px 16px 0px;
}

h3 {
    font-size: 16px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

img {
    border: none;
    display: block;
    margin: 6px auto 30px auto;
}

ul {
    list-style-type: square;
    padding-left: 1em;
    margin-left: 1em;
}

code {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    padding-left: 4px;
    padding-right: 4px;
}

pre code {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
}

p.caption {
    display: none;
}
