<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>MyAweSomeCompany - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <h1>MyAweSomeCompany - $title$</h1>
        <div id="navigation">
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="/code.html">Code</a>
        </div>

        $body$
    </body>
</html>
