<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>MyAweSomeCompany - $title</title>
        <link rel="stylesheet" type="text/css" href="$root/css/default.css" />
    </head>
    <body>
        <h1>MyAweSomeCompany - $title</h1>
        <div id="navigation">
            <a href="$root/index.html">Home</a>
            <a href="$root/about.html">About</a>
            <a href="$root/products.html">Products</a>
        </div>

        <div class="column"> $section1 </div>
        <div class="column"> $section2 </div>
        <div class="column"> $section3 </div>
        <div id="footer"> $footer </div>
    </body>
</html>
